[buildout]
extends = http://download.zope.org/Zope2/index/2.12.19/versions.cfg

develop = .

parts =
    test
    releaser

versions = versions

[releaser]
recipe = zc.recipe.egg
eggs =
    setuptools
    zest.releaser
initialization =
    import os
    os.environ['PYTHONPATH'] = os.pathsep.join(sys.path)

[test]
recipe = zc.recipe.testrunner
eggs =
    Products.LongRequestLogger[standalone]

